/* =================================
   VARIABLES & GLOBAL SETTINGS
   ================================= */

html {
    /* Font size for calculating rem */
    font-size: 125%;
}

 :root {
    /* Typography */
    --font-headings: 'DM Sans', sans-serif;
    --font-body: 'Source Serif 4', serif;

    /* Text variables */
    --text-heading-1: 700 2.4rem/1.4 var(--font-headings);
    --text-heading-2: 700 2.4rem/1.4 var(--font-headings);
    --text-heading-3: 700 2rem/1.4 var(--font-headings);
    --text-heading-4: 700 1.4rem/1.4 var(--font-headings);
    --text-heading-5: 700 1rem/1.4 var(--font-headings);
    --text-heading-6: 700 0.8rem/1.4 var(--font-headings);
    --text-body-1: 400 1rem/1.6 var(--font-body);
    --text-body-2: 400 0.8rem/1.6 var(--font-body);
    --text-navlinks: 700 20px/1.4 var(--font-headings);
    --text-button-primary: 700 1rem/1.4 var(--font-headings);

    /* Spacing */
    --space-1: 4rem; /* 80pt */
    --space-2: 3.6rem; /* 72pt */
    --space-3: 2.4rem; /* 48pt */
    --space-4: 2rem; /* 40pt */
    --space-5: 1.6rem; /* 32pt */
    --space-6: 1.2rem; /* 24pt */
    --space-7: 0.8rem; /* 16pt */
    --space-8: 0.6rem; /* 12pt */
    --space-9: 0.4rem; /* 8pt */
    --space-10: 0.2rem; /* 4pt */
    
    /* Colors! */
    --color-neutral-1000: #2F330A;
    --color-neutral-800: #5B5E3B;
    --color-neutral-700: #717454;
    --color-neutral-600: #86896C;
    --color-neutral-300: #C5C7B8;
    --color-neutral-200: #E3E4DD;
    --color-neutral-150: #F1F1EE;
    --color-neutral-100: #FDFDFA;

    --color-green-1000: #495200;
    --color-green-900: #707D00;
    --color-green-800: #8D9D00;
    --color-green-600: #CDD800;
    --color-green-300: #F8FF72;
    --color-green-200: #FCFFC2;

    --color-red-900: #D33500;    
}  

/* =================================
   RESETS & BASE STYLES
   ================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Serif 4", serif;
    background-color: var(--color-neutral-100);
}

.visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* =================================
   LAYOUT & CONTAINERS
   ================================= */

.text-container {
    max-width: 720px;
    margin: 0 auto;
}

/* .text-container.home {
    max-width: 960px;
    padding: 0 var(--space-4);
} */

.project-section {
    max-width: 1080px;
    padding: 0 var(--space-4);
    margin: 0 auto;
}

.project-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: var(--color-neutral-1000);
    background-position: 50%;
    padding: var(--space-5) 0;
    margin-top: var(--space-4);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.project-body.image-container img {
    height: auto;
    margin-top: var(--space-4);
    /* margin: 2.4rem 2rem 0.6rem; */
}

.image-container figcaption {
    margin-top: var(--space-8);
    font-style: italic;
    color: var(--color-neutral-800);
}


/* =================================
   TYPOGRAPHY
   ================================= */
   
h1, h2, h3, h4, h5 {
    display: block;
    text-align: left;
    color: var(--color-neutral-1000);
}

h1 {
    margin: var(--space-1) 0 0;
    font: var(--text-heading-1);
    letter-spacing: 0.05rem;
}

h1.below-nav {
    margin-top: var(--space-4);
}

h2 {
    margin-top: var(--space-1);
    font: var(--text-heading-2);
    letter-spacing: 0.05rem;
    color: var(--color-green-900);
}

h3 {
    margin-top: var(--space-2);
    font: var(--text-heading-3);
    letter-spacing: 0.05rem;
    /* margin-top: 2rem;
    margin-bottom: 1.2rem; */
}

h3.first {
    margin-top: var(--space-4);
}

h4 {
    margin-top: var(--space-3);
    font: var(--text-heading-4);
    letter-spacing: 0.03rem;
    /* padding-bottom: 1.2rem; */
    /* margin-top: 2.4rem; */
}

h5 {
    font: var(--text-heading-5);
}

.visually-h1 {
    font: var(--text-heading-1);
    color: var(--color-green-900);
    letter-spacing: 0.05rem;
}

.visually-h2 {
    font: var(--text-heading-2);
    color: var(--color-green-900);
    letter-spacing: 0.05rem;
}

.visually-h3 {
    font: var(--text-heading-3);
    letter-spacing: 0.05rem;
}

.visually-h4 {
    font: var(--text-heading-4);
    letter-spacing: 0.02rem;
}

.visually-h5 {
    margin-top: 0;
    font: var(--text-heading-5); 
    letter-spacing: 0rem;
    color: var(--color-neutral-1000);
}

.visually-h6 {
    font: var(--text-heading-6);
    color: var(--color-neutral-1000);
}

p {
    font: var(--text-body-1);
    margin: 0;
    letter-spacing: -0.15px;
    color: var(--color-neutral-1000);
}

ul {
    padding-left: 2rem;
}

li {
    font: var(--text-body-1);
    letter-spacing: -0.15px;
    color: var(--color-neutral-1000);
}

a {
    color: var(--color-green-900);
}

.body-secondary {
    font: var(--text-body-2);
    letter-spacing: -0.15px;
    color: var(--color-neutral-1000);
}

.table-of-contents-link {
    font: var(--text-heading-5);
    color: var(--color-green-900);
}

.semibold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.red900 {
    color: var(--color-red-900);
}

.green1000 {
    color: var(--color-green-1000);
}

.green900 {
    color: var(--color-green-900);
}

.neutral1000 {
    color: var(--color-neutral-1000);
}

.neutral600 {
    color: var(--color-neutral-600);
}

/* =================================
   COMPONENTS
   ================================= */

/* Heading Components */

.table-of-contents-link.with-icon::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    vertical-align: middle;
    background-image: url("../img/flourish-hashtag-green900.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h5.w-green-icon::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -0.1rem;
    vertical-align: middle;
    width: 0.65rem;
    height: 1rem;
    margin-right: 0.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h5.w-green-icon.q-mark::before {
    background-image: url("../img/flourish-question.png");
}

h5.w-green-icon.x-mark::before {
    background-image: url("../img/flourish-x.png");
}

h5.w-green-icon.bulb::before {
    background-image: url("../img/flourish-lightbulb.png");
}

.h2-heading {
    padding-bottom: 0.6rem;
    border-bottom: 8px solid var(--color-green-900);
}

.h2-heading.with-icon::before {
    content: "";
    display: inline-block;
    position:relative;
    top: -0.2rem;
    vertical-align: middle;
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.8rem;
    background-image: url("../img/h2-block-image.png");
    background-size: contain;
    
}

.project-page-title {
    margin-bottom: 1.6rem;
}

.home-hero {
    width: 100%;
    background-color: var(--color-green-200);
}

.home-hero .text-container {
    max-width: 720px;
    padding: 2.4rem 2rem 3.2rem;
    margin: 2rem auto 0;
}

.home-hero h1 {
    margin-top: 0;
}

.home-hero .visually-h3 {
    margin-top: 0.8rem;
}

.home.image-container img {
    height: auto;
    margin-top: var(--space-1);
}

.text-container.home {
    max-width: 1080px;
    padding: 0 2rem;
    margin: 2rem auto 0;
}

.text-container.home h2 {
    margin: 0;
}

.text-container.home p {
    margin-top: 1rem;
}

.button-primary {
    background-color: var(--color-green-600);
    border: none;
    color: var(--color-green-1000);
    padding: 0.8rem 1rem;
    font: var(--text-button-primary);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: var(--color-green-300);
}

/* Blocks & Groups */

.group-paragraphs {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}

.h5-block {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.h5-block.single {
    margin-top: var(--space-6);
}

.group-h5-blocks {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-4);
    gap: var(--space-5);
}

.group-h5-blocks.about-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-personal h2 {
    margin-top: 2.4rem;
}

.quote-block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.quote-block-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin-top: var(--space-5);
}

.quote-block-wrapper.red {
    border-left: 8px solid var(--color-red-900);
}

.quote-block-wrapper.green {
    border-left: 8px solid var(--color-green-900);
}

.metric-block {
    display: flex;
    flex-direction: column;
    gap: var(--space-9);
    width: 32%;
    text-align: center;
}

.group-metric-blocks {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 0 auto;
    width: 100%;
}

.metric-block .label {
    font-size: 0.8rem;
    font-weight: 600;
}

.takeaway-callout.contents {
    display: flex;
    flex-direction: column;
    gap: var(--space-9);
    max-width: 680px;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    text-align: left;
}

.takeaway-callout.container {
    max-width: 1000px;
    padding: 0 1rem;
    margin-top: var(--space-5);
    background-color: var(--color-green-300);
}

.below-h1 {
    margin-top: var(--space-5);
}

.below-h3-h4 {
    margin-top: var(--space-6);
}

.below-h5 {
    margin-top: var(--space-7);
}

/* FOOTER */
footer {
    background-color: var(--color-green-200);
    text-align: left;
    padding: var(--space-5) var(--space-4);
    width: 100%;
    margin-top: var(--space-1);
  }
 
footer p {
    color: var(--color-neutral-1000);
  }


.footer-blurb {
    margin-top: var(--space-6);
}

ul.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
    padding: 0;
    margin-top: var(--space-6);
}

.footer-links a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font: var(--text-heading-5);
    text-decoration: none;
    color: var(--color-neutral-1000);
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--color-green-900);
}

.footer-links svg {
    height: 1.2rem;
    width: 1.2rem;
}

.footer-grid {
    max-width: 880px;
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    margin: 0 auto;
}

.footer-grid img {
    height: 10rem;
}

.footer-grid .footer-blurb {
    margin-top: 0;
}

/* EMBEDDED PROTOTYPES */
.iframe-gparent {
    margin-top: var(--space-4);
  }
  
  .prototype-embed {
    position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-top: 198.84%;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  iframe {
    border: 0;
  }

/* =================================
   NAVIGATION & SKIP LINK
   ================================= */

/* Nav Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding: var(--space-4) var(--space-4) 0;
    margin: 0 auto;
}

.logo img {
    height: 1.6rem;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font: var(--text-navlinks);
    text-decoration: none;
    color: var(--color-green-900);
}

/* Navigation links */

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

/* ul.nav-links {
    padding-left: 0rem;
} */

.nav-links a {
    font: var(--text-heading-6);
    text-decoration: none;
    color: var(--color-neutral-800);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--color-green-900);
}

.nav-links .current {
    text-decoration: underline;
    color: var(--color-green-900);
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 1.4rem;
    width: 1.6rem;
}

.hamburger .bar {
    height: 0.1875rem;
    width: 100%;
    background-color: var(--color-green-900);
    border-radius: 0px;
    /* margin: 3px 0; */
    transition: all 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(0.60625rem) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.60625rem) rotate(-45deg);
}

/* =================================
   MEDIA QUERIES
   ================================= */

/* @media screen and (max-width: 575px) {

    .navbar {
        flex-direction: column;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
    
    .logo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .nav-links {
        width: 100%;
        justify-content: center;
    }
    
    .nav-links li {
        margin: 0 1rem;
    }

    .project-section {
        padding: 0 1rem;
    }
} */

@media screen and (max-width: 600px) {
    html {
        font-size: 100%;
    }

    p.visually-h2 {
        font-size: 2rem;
    }

    .project-section {
        padding: 0 1rem;
    }

    /* Show hamburger menu */
    .hamburger {
        display: flex;
        /* margin-top: 1rem; */
        z-index: 2;
    }

    .navbar {
        flex-direction: row;
        padding: var(--space-4) var(--space-4) 0;
        position: relative;
        /* align-items: flex-start; */
    }

    /* Hide the navigation links by default */
    .nav-links {
        display: none; /* Changed from transform to display:none for instant disappearance */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--color-neutral-150); /* Remove background color */
        z-index: 1;
        padding: var(--space-6) 0;
        margin-top: var(--space-6);
        gap: var(--space-6);
    }

    .nav-links a {
        font: var(--text-heading-5);
    }

    /* Show the navigation links when active */
    .nav-links.active {
        display: flex;
    }

    /* Override existing styles for small screens */
    .logo {
        margin: 0;
    }

    .group-h5-blocks {
        display: flex;
        flex-direction: column;
        margin-top: var(--space-4);
        gap: var(--space-5);
    }
    
    .group-h5-blocks.about-page {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
    }
}

@media only screen and (min-width: 480px) {
    /* EMBEDDED PROTOTYPES */
    .iframe-gparent {
      display: flex;
    }
  
    .prototype-embed {
      display: block;
      position: relative;
      overflow: auto;
      width: 433px;
      height: 861px;
      padding-top: 0;
      margin: auto;
    }
  
    .responsive-iframe {
      display: block;
      top: auto;
      left: auto;
      width: 433px;
      height: 861px;
    }
  }