/* 
COLORS:
Near-black: #212121
Charcoal: #383835
Cream: #f7f6e8
Off-white (bkgd): #fffef7

Dark green: #4a491a
Rich green: #59581f
Pale green: #78754d

Dark yellow: #e3d02c
Rich yellow: #fae63a
Pale yellow: #faf29f

Dark purple: #311b80
Rich purple: #461de6


FONT WEIGHTS:
Light: 300
Regular: 400
Semibold: 600
Bold: 700
*/

/* GENERAL RULE */

* {
  box-sizing: border-box;
}

body {
  background-color: #fffef7;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #383835;
}

img {
  width: 100%;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
}
h2 {
  font-family: "Josefin Slab", serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 400;
}
h3 {
  font-size: 1.125em;
  font-weight: 700;
}

/* LINKS AND BUTTONS */

a {
  color: #461de6;
}
a:visited {
  color: #311b80;
}
a:hover {
  color: #59581f;
  text-decoration: none;
}
a:focus {
  background-color: #fae63a;
  color: #383835;
}
a:active {
  color: #4a491a;
}

.button {
  display: inline-block;
  background-color: #383835;
  color: #fffef7;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  border-bottom: 2px solid #212121;
  transition: 0.2s opacity;
}
.button:visited {
  background-color: #383835;
  color: #fffef7;
  font-weight: 400;
  text-decoration: none;
}
.button:hover {
  background-color: #59581f;
  color: #fffef7;
  font-weight: 600;
}
.button:focus {
  background-color: #383835;
  color: #fffef7;
  font-weight: 400;
  text-decoration: none;
  border: 4px solid #fae63a;
}
.button:active {
  background-color: #4a491a;
  color: #fffef7;
  font-weight: 600;
}

.button.secondary {
  display: inline-block;
  background-color: transparent;
  color: #383835;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #383835;
  border-bottom: 4px solid #212121;
  transition: 0.2s opacity;
}
.button.secondary:visited {
  background-color: #383835;
  color: #fffef7;
  font-weight: 400;
  text-decoration: none;
}
.button.secondary:hover {
  background-color: #59581f;
  color: #fffef7;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #212121;
}

.button.secondary:active {
  background-color: #4a491a;
  color: #fffef7;
  font-weight: 600;
}
.button.secondary:focus {
  background-color: #383835;
  color: #fffef7;
  font-weight: 400;
  text-decoration: none;
  border: 4px solid #fae63a;
}
