/* 
Colors used:
Off-white (bkgd): #fffef7
Cream: #f7f6e8
Pale yellow: #faf29f
Rich yellow: #fae63a
Pale green: #78754d
Rich green: #5c5b20
Charcoal: #383835
*/

body {
  background-color: #fffef7;
}
