/* 
COLORS:
Near-black: #212121
Charcoal: #383835
Cream: #f7f6e8
Off-white (bkgd): #fffef7

Dark green: #4a491a
Rich green: #59581f
Pale green: #78754d

Dark yellow: #e3d02c
Rich yellow: #fae63a
Pale yellow: #faf29f

Dark purple: #311b80
Rich purple: #461de6


FONT WEIGHTS:
Light: 300
Regular: 400
Semibold: 600
Bold: 700
*/

body {
  background-color: #fffef7;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #383835;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
}
h2 {
  font-family: "Josefin Slab", serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 400;
}
h3 {
  font-size: 1.125em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #461de6;
}
a:visited {
  color: #311b80;
}
a:hover {
  color: #59581f;
  text-decoration: none;
}
a:focus {
  background-color: #fae63a;
  color: #383835;
}
a:active {
  color: #4a491a;
}
